<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.handipressante.app"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- TODO : Should be false ? App is usable without camera -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:icon="@mipmap/icone_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- TODO : Is this really needed ? -->
            <!--
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <data android:scheme="geo" />
            </intent-filter>
            -->

        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".ToiletSheetActivity"/>
        <activity android:name=".ModificationSheet">

            <!-- android:theme="@style/Base.Theme.AppCompat" -->
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="fr.handipressante.app"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
